*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    background-color: #fff;
    color: #555;
    font-family: 'lato', Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}
header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.705)), url(img/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
h1{
    margin-top: 0px;
    margin-bottom: 10px;
    color:#fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    
}
.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50% );
    
}
.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px  30px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 200px;   
}
.btn-full:link,.btn-full:visited{
    background-color: #e67e22;
    border: 1px solid #e67e22;

}
}
.btn-x:link,.btn-x:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
    
}
 